# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio settings
.vs/
.vscode/

# EF Core secrets
**/secrets.json


# Local DB files 
*.mdf
*.ldf
*.db

# Logs
*.log

